* {
    box-sizing: content-box;
}

.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}

.main {
    border: solid gray 1px;
    padding: 0.5em;
    height: 100%;

}

.blocks-section {
    height: 90%;
}

.blocks {
    display: flex;
    gap: 1em;
    padding: 0.5em;
    height: 100%;
}

.blocks > * {
    border-radius: 5px;
}



.editor {
    min-width: 50%;
    min-height: 20vh;
}

.item {
    border: solid gray 1px;
    background-color: #fffd;
}

.stack {
    border: solid gray 1px;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    background-color: #eee;
}

.stack > div {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    gap: 0.2em;
}


.queue {
    border: solid gray 1px;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    background-color: #eee;
}

.queue > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0.2em;
}

.globals {
    border: solid gray 1px;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: #eee;
    gap: 0.5em;
}

.globals > span {
    height: min-content;
    padding: 0.2em;
}


.array, .object {
    border: solid gray 1px;
    min-width: 10em;
    background-color: #eee;
}

.array > table, .object > table {
    height: max-content;
    width: 100%;
}

.array-index, .object-index {
    font-size: smaller;
    color: #777;
    width: max-content;
    text-align: left;
}

.array-index td, .object-index td {
    height: min-content;
}

h2 {
    margin: 0.2em;
    font-size: smaller;
    border-bottom: 1px solid #fff3;
    color: #333;
}


.floating {
    position: absolute;
    left: 30em;
    top: 5em;
    border: solid gray 1px;
    background-color: #fffd;
    padding: 1em;
}
