.App {
    text-align: center;
    height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
    border: solid gray 1px;
    min-height: 50vh;
    display: flex;
    gap: 1em;
    padding: 0.5em;
}

.main > * {
    border-radius: 5px;
}

.editor {
    min-width: 50%;
    min-height: 20vh;
}

.item {
    border: solid gray 1px;
    background-color: #fffd;
}

.stack {
    border: solid gray 1px;
    min-width: 10em;
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
    gap: 0.2em;
    padding: 0.2em;
}


.queue {
    border: solid gray 1px;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    transition: gap 1s;
    gap: 0.2em;
    padding: 0.2em;
}


.array {
    border: solid gray 1px;
    min-width: 10em;
}

.array-index {
    font-size: smaller;
    color: #777;
    width: max-content;
}
